In [1]:
import dask
import dask.dataframe as dd

/Users/paolog/opt/anaconda3/envs/kedro-environment/lib/python3.10/site-packages/dask/dataframe/_pyarrow_compat.py:17: FutureWarning: Minimal version of pyarrow will soon be increased to 14.0.1. You are using 11.0.0. Please consider upgrading.
  warnings.warn(

In [11]:
dataset = dd.from_dict(
    {
        'col1': [1, 2, 3],
        'col2': ['a', 'b', 'c']
    },
    npartitions=1
)

In [15]:
import os

In [18]:
os.getcwd()

'/Users/paolog/Documents/GitHub/tentative_agri_proj/notebooks'

In [21]:
df = dd.read_csv("../data/01_raw/data/TVC_logger_ 3_betula.csv")

In [23]:
df.dtypes

Record                          int64
DateTime                       object
Tsoil.C.hummock               float64
Tair.C                        float64
RH.percent                    float64
VWC.m3.per.m3.interhummock    float64
VWC.m3.per.m3.hummock         float64
dtype: object

In [70]:
import pandas as pd
df = pd.read_csv("../data/01_raw/data/TVC_logger_ 3_betula.csv")

In [71]:
df

,Record,DateTime,Tsoil.C.hummock,Tair.C,RH.percent,VWC.m3.per.m3.interhummock,VWC.m3.per.m3.hummock
0,1,2013-08-02 23:40:00,11.0269,15.7624,79.46,0.26180,0.13680
1,2,2013-08-02 23:50:00,10.9539,15.5471,80.05,0.26124,0.13736
2,3,2013-08-03 00:00:00,10.8977,15.0431,80.83,0.26156,0.13704
3,4,2013-08-03 00:10:00,10.8319,14.2438,82.57,0.26229,0.13736
4,5,2013-08-03 00:20:00,10.7582,13.8772,85.02,0.26201,0.13704
...,...,...,...,...,...,...,...
107818,107819,2015-08-21 17:20:00,6.0770,15.3660,62.70,0.19350,0.13180
107819,107820,2015-08-21 17:30:00,6.1790,14.0980,65.50,0.19350,0.13180
107820,107821,2015-08-21 17:40:00,6.2550,16.3440,64.70,0.19350,0.13180
107821,107822,2015-08-21 17:50:00,6.3310,14.7680,64.70,0.19350,0.13180
107822,107823,2015-08-21 18:00:00,6.4080,16.0100,66.40,0.19350,0.13180

In [72]:
df['DateTime'] = pd.to_datetime(df['DateTime'])

In [73]:
df = df.set_index('Record')

In [74]:
df.dtypes

DateTime                      datetime64[ns]
Tsoil.C.hummock                      float64
Tair.C                               float64
RH.percent                           float64
VWC.m3.per.m3.interhummock           float64
VWC.m3.per.m3.hummock                float64
dtype: object

In [75]:
df.drop(['DateTime'], axis=1).describe()

,Tsoil.C.hummock,Tair.C,RH.percent,VWC.m3.per.m3.interhummock,VWC.m3.per.m3.hummock
count,107823.000000,107823.000000,107823.000000,107823.000000,107823.000000
mean,-1.828507,-6.342978,85.617563,0.146827,0.081777
std,6.454091,15.725561,13.612570,0.088468,0.053661
min,-14.197000,-42.698500,20.390000,0.049000,0.015010
25%,-7.869000,-19.858100,82.260000,0.061300,0.024300
50%,-0.395000,-4.257000,88.900000,0.112900,0.101440
75%,3.380000,5.965200,94.500000,0.243600,0.133200
max,13.810000,31.819100,100.000000,0.305300,0.212400

In [76]:
df.head()

,DateTime,Tsoil.C.hummock,Tair.C,RH.percent,VWC.m3.per.m3.interhummock,VWC.m3.per.m3.hummock
Record,,,,,,
1,2013-08-02 23:40:00,11.0269,15.7624,79.46,0.26180,0.13680
2,2013-08-02 23:50:00,10.9539,15.5471,80.05,0.26124,0.13736
3,2013-08-03 00:00:00,10.8977,15.0431,80.83,0.26156,0.13704
4,2013-08-03 00:10:00,10.8319,14.2438,82.57,0.26229,0.13736
5,2013-08-03 00:20:00,10.7582,13.8772,85.02,0.26201,0.13704

In [77]:
def rolling_mean(df, col_name, window):
    return df[col_name].rolling(window).mean()

In [78]:
for col in df.columns:
    if df[col].dtype == 'float64':
        df[f'rollmean5_{col}'] = rolling_mean(df, col, 6)
        df[f'rollstd5_{col}'] = df[col].rolling(6).std()

In [80]:
df.dropna()

,DateTime,Tsoil.C.hummock,Tair.C,RH.percent,VWC.m3.per.m3.interhummock,VWC.m3.per.m3.hummock,rollmean5_Tsoil.C.hummock,rollstd5_Tsoil.C.hummock,rollmean5_Tair.C,rollstd5_Tair.C,rollmean5_RH.percent,rollstd5_RH.percent,rollmean5_VWC.m3.per.m3.interhummock,rollstd5_VWC.m3.per.m3.interhummock,rollmean5_VWC.m3.per.m3.hummock,rollstd5_VWC.m3.per.m3.hummock
Record,,,,,,,,,,,,,,,,
6,2013-08-03 00:30:00,10.6849,13.6660,86.22,0.26180,0.13736,10.858917,0.126412,14.689933,0.885173,82.358333,2.760662,0.261783,0.000362,0.137160,0.000236
7,2013-08-03 00:40:00,10.6119,13.8460,86.96,0.26180,0.13760,10.789750,0.129611,14.370533,0.757311,83.608333,2.881190,0.261783,0.000362,0.137293,0.000217
8,2013-08-03 00:50:00,10.5382,13.9036,86.43,0.26180,0.13704,10.720467,0.135296,14.096617,0.500226,84.671667,2.450399,0.261877,0.000248,0.137240,0.000236
9,2013-08-03 01:00:00,10.4649,13.5957,86.17,0.26229,0.13736,10.648333,0.137265,13.855383,0.226741,85.561667,1.597265,0.261998,0.000240,0.137293,0.000217
10,2013-08-03 01:10:00,10.3912,12.9844,86.48,0.26250,0.13760,10.574883,0.137303,13.645483,0.346541,86.213333,0.648311,0.262033,0.000299,0.137333,0.000251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107819,2015-08-21 17:20:00,6.0770,15.3660,62.70,0.19350,0.13180,5.787000,0.227644,17.305167,2.598324,59.783333,4.526993,0.193500,0.000000,0.131917,0.000286
107820,2015-08-21 17:30:00,6.1790,14.0980,65.50,0.19350,0.13180,5.902167,0.220813,16.459000,2.692586,60.366667,5.063464,0.193500,0.000000,0.131917,0.000286
107821,2015-08-21 17:40:00,6.2550,16.3440,64.70,0.19350,0.13180,6.012833,0.198986,15.828667,2.021510,61.600000,5.068333,0.193500,0.000000,0.131917,0.000286
107822,2015-08-21 17:50:00,6.3310,14.7680,64.70,0.19350,0.13180,6.114833,0.173462,15.014833,0.771148,63.266667,3.841180,0.193500,0.000000,0.131800,0.000000
107823,2015-08-21 18:00:00,6.4080,16.0100,66.40,0.19350,0.13180,6.204167,0.160960,15.197833,0.866279,65.033333,1.350062,0.193500,0.000000,0.131800,0.000000